<% provide(:title, t(:regcode_full)) %>

<!-- DUMMY -->
<div id="pad-wrapper">
  <div class="panel-body">
  <div class="row">
    <!-- CODEFORM -->
    <div class="row admin-controls">
      <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group">
                <form accept-charset="UTF-8" action="" class="edit_problem" id="" method="">
                  <input class="form-control admin-commentary" id="problem_admin_comment" name="" placeholder="Добавить код" size="30" type="text" value="">
                  <input action="" class="glow middle admin-button" data-disable-with="..." name="" type="" value="Генерация">
                  <input action="" class="glow right admin-button" data-disable-with="..." name="" type="" value="OK">
                </form>
              </div>
            </div>
          </div>
      </div>

          <!-- CODELIST -->
        <div class="col-md-6">
          <div class="table-wrapper products-table section" style="font-size: 20px;">
          <div class="row">
            <table class="table table-hover">
                <thead class="">
                    <tr>
                        <th class="">
                          <input type="checkbox">
                          КОД
                        </th>
                        <th class="">
                          ОПЦИИ
                        </th>
                    </tr>
                </thead>
                <tbody class="">
                    <!-- row -->
                    <tr class="first description">
                        <td>
                            <input type="checkbox">
                            kqHNAJ27TUameqFktkbALA
                        </td>
                        <td>
                            <ul class="actions">
                                <li class="last"><a href="#"><i class="fa fa-times"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                    <!-- row -->
                    <tr class="description">
                        <td>
                            <input type="checkbox">

                            SoQiznEvaAM4LvcCIqEe7w
                        </td>
                        <td>
                            <ul class="actions">
                                <li class="last"><a href="#"><i class="fa fa-times"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
          </div>
        </div>

    </div>
  </div>
  </div>
</div>