<% provide(:title, t(:contacts)) %>
<div id="pad-wrapper" class="user-profile">

  <h3>Контакты</h3>


  <div class="row profile">

    <div class="col-md-9 bio" style="padding:15px; font-size:16px;">

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tr>
            <td style="width: 150 px;">Главный врач</td>
            <td style="width: 150 px;">Ващук Виктор Константинович</td>
          </tr>
          <tr>
            <td style="width: 150 px;">Адрес</td>
            <td style="width: 150 px;">453215, РБ, г. Ишимбай, ул. Стахановская, 75</td>
          </tr>
          <tr>
            <td style="width: 150 px;">Контакты</td>
            <td style="width: 150 px;">тел.:/факс: (34794)2-60-15</td>
          </tr>
          <tr>
            <td style="width: 150 px;">Е-mail</td>
            <td style="width: 150 px;">ishimbaycrb@mail.ru</td>
          </tr>
        </table>
        <h4 style="display:list-item">Зам главного врача по медицинскому обслуживанию населения</h4>
        <p>Галяутдинова Флорида Харисовна (ул. Стахановская, 75, тел.: 2-24-23)</p>
        <h4 style="display:list-item">Зам. главного врача по лечебной работе</h4>
        <p>Бежаева Наталья Федоровна (ул. Пролетарская, 28 тел. 2-21-11)</p>
        <h4 style="display:list-item">Зам. главного врача по экспертизе временной нетрудоспособности</h4>
        <p>Кулбаев Ильшат Зарифович (ул. Стахановская, 75, тел.: 2-20-38)</p>
        <h4 style="display:list-item">Зам. главного врача по детству</h4>
        <p>Зайцева Гульсира Ульмасбаевна (ул. Гагарина, 48, тел.: 2-48-44)</p>
        <h4 style="display:list-item">Зам. главного врача по родовспоможению</h4>
        <p>Губайдуллина Аниса Минигалеевна (ул. Гагарина, 65, тел.: 4-10-49)</p>
        <h4 style="display:list-item">Зам.главного врача по хирургической службе</h4>
        <p>Перова Евгения Ивановна (ул. Докучаева, 10, тел.: 2-75-70)</p>
      </div>

    </div>
  </div>

</div>
