<% provide(:title, t(:documents_full)) %>
<div id="pad-wrapper" class="user-profile">
  <h3>Список необходимых документов</h3>
    <div class="row profile">


      <div class="col-md-9 bio" style="padding:15px; font-size:16px;">

        <div class="alert alert-info">
          <i class="fa fa-lightbulb-o"></i>
          МЫ РАБОТАЕМ С 8 ДО 20 ЧАСОВ
        </div>

        <div>
          <ul>
            <li>Паспорт</li>
            <li>Страховой медицинский полис</li>
            <li>Пенсионное страховое свидетельство</li>
            <li>Прививочный сертификат</li>
          </ul>
          <p>При прохождении медосмотра военнообязанным иметь при себе <strong>военный билет</strong>.</p>
        </div>
      </div>

    </div>
</div>
