<% provide(:title, t(:history)) %>
<div id="pad-wrapper" class="user-profile">

  <h3>История ЦРБ</h3>

  <div class="row profile">

    <div class="col-md-9 bio" style="padding:15px; font-size:16px;">

      <p>В далеком мае 1932 года среди зарослей вишни фельдшер В. И. Сизов разбил палатку и в ней организовал первый медпункт. Это стало началом становления системы здравоохранения города и района.</p>
      <p>В 1933 году в деревне Кусяпкулово была организована первая больница на 10, затем на 30 коек. Сюда в 1934 году прибыли первые врачи: хирург Н. С. Железнов, педиатр С. И. Андриянова, терапевт П. П. Иванова, зубной врач К. И. Фаломеева.</p>
      <p>В 1947 году открылась медико-санитарная часть НГДУ «Ишимбайнефть». Первые главные врачи ее А. И. Звенник и Г. Б. Давлетшина всецело посвятили себя совершенствованию медицинской помощи рабочим промышленных предприятий и населению города.</p>
      <p>В 1947 году открылась медсанчасть НПУ «Ишимбайнефть». 1950-60 годы отмечены интенсивными темпами строительства медицинских учреждений. Дальнейшее развитие здравоохранение Ишимбая получило в 70-80 годы. Открылись наркологическое, психиатрическое отделение, создана служба анестезиологии и реанимации, хирургический корпус.</p>
      <p>Медсанчасть НГДУ «Ишимбайнефть» и ряд ее служб Министерством здравоохранения БАССР были признаны школой передового опыта по медицинскому обслуживанию нефтяников. Их опыт рекомендован для распространения по республике. В это время в МСЧ работали такие врачи, как Журавлев А. С., Мусин А. Х., Левковский Ю. Т., Конобеева Н. П., Мусина Т. Х., Левковская В. П., Смирнова Л. П., Гумерова С. М., Рамазонова З. Х.</p>
      <p>Достойный вклад в развитие здравоохранения внесли Г. Б. Давлетшина, Е. П. Челышева, Ф. Г. Сафин, А. Г. Сягаева, Х. Х. Габитов, М. Ф. Бухарова, А. А. Катков, В. Г. Любавин, Л. В. Костригин, Г. У. Зайцева и другие.</p>
      <p>С 1981 года начало функционировать новое типовое здание поликлиники НГДУ «Ишимбайнефть» на 600 посещений. В 1989 году в южной части города открыта поликлиника МСЧ ИЗТМ на 600 посещений, а через год – стационар этой медсанчасти. Интересны сравнения некоторых показателей. Если в 1964 году, напирмер, функционировало 6 стационарных лечебных учреждений на 645 коек, в 2008 году 626 круглосуточных и 209 коек дневного стационара.</p>
      <p>На сегодняшний день в ГБУЗ РБ Ишимбайская ЦРБ трудятся 2 отличника здравоохранения РФ, 26 отличников здравоохранения РБ, 12 заслуженных врачей РБ.</p>
      <p>В целом штат ЦРБ насчитывает более 1900 человек, в т. Ч. 250 врачей и 814 среднего медицинского персонала.</p>
      <p>В составе ГБУЗ РБ Ишимбайская ЦРБ действуют практически все службы медицинской помощи, входящие в систему здравоохранения.</p>

    </div>
  </div>
</div>
