<% provide(:title, t(:home)) %>
<div id="pad-wrapper" class="user-profile">

  <h3>Уважаемые жители Ишимбайского района!</h3>

  <div class="row profile">

    <div class="col-md-9 bio" style="padding:15px; font-size:16px;">
      <p>Мы призываем Вас оказать помощь нам, медицинским работникам,  в защите Вашего здоровья!</p>
      <p>Специалисты "Ишиайская ЦРБ" приглашают Вас на прохождение бесплатной всеобщей диспансеризации в целях оценки состояния Вашего здоровья и выявления имеющихся заболеваний.</p>
      <p>Диспансеризация – это метод динамического врачебного наблюдения за состоянием здоровья определенных групп населений с целью предупреждения и раннего выявления заболеваний, их профилактики и своевременного лечения.</p>
      <p>Гражданам района, подлежащим прохождению диспансеризации (Приказ Министерства здравоохранения Российской Федерации № 1006н от 03.12.2012г) будут разосланы Приглашения с указанием места и даты проведения диспансеризации. Для Вашего удобства администрация "Ишимбайская ЦРБ" организовала дежурства участковых терапевтов и врачей общей практики, составила график выездов специалистов на ФАПы.</p>
      <br>
      <p>Прошел диспансеризацию сегодня – улучшил своё качество жизни завтра!</p>
      <h3>Мы ценим Ваше здоровье и время!</h3>
    </div>

    <div class="col-md-3">
      <div class="alert alert-info">
        <i class="fa fa-lightbulb-o"></i>
        <span style="font-weight: 900;font-size: 20px;">Lorem ipsum dolor sit amet</span>
        <ul>
          <li>Consectetur adipisicing elit</li>
          <li>Accusantium, perferendis, repellat neque</li>
          <li>Reprehenderit nobis recusandae ea sint</li>
        </ul>
      </div>
    </div>

  </div>

</div>
