<% provide(:title, t(:problem_full)) %>

  <% if signed_in? && current_user %>

    <div id="pad-wrapper">

      <%= render 'shared/user_info', object: current_user %>


      <div class="row">
        <div class="col-md-5 problem-add">
          <%= render 'shared/problem_form' %>
        </div>

        <div class="col-md-7">
          <%= render 'shared/feed' %>
        </div>
      </div>



  <% else %>

  <!-- link_to sign_in -->

  <% end %>
</div>
