<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger alert-dismissable" style="margin-top:10px;">
      <i class="fa fa-times-circle"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

      <%= t(:form_contains) %>
      <strong>
        <%= object.errors.count %>
        <%= Russian.pluralize(object.errors.count, "ошибку", "ошибки", "ошибок") + ":" %>
      </strong>
      <ul style="text-align: left; padding-left: 52px;">
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
