<!-- DUMMY -->
<div class="col-lg-7">

  <button type="button" class="btn-glow collapsed" data-toggle="collapse" data-target="#comment">
    <%= t( :problem_comment ) %> #DEMO <i class="fa fa-comment"></i>
  </button>

  <div id="comment" class="collapse">

    <div style="display:block"></div>
      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12 btn-group">
          <input class="form-control" type="text" value="Комментарий админа" style="display: inline-block; width:50%; float:left;border-radius: 5px 0px 0px 5px;">
          <!-- replace with collection -->
          <select name="" id="" class="ui-select adm-comm" style="display: inline-block; float:left;height: 34px; font-weight:500; border-radius: 0px; -webkit-appearance: none;">
            <option selected="selected">Выполнено</option>
            <option>Отказано</option>
            <option>Ожидание</option>
            <option>Сброс</option>
          </select>
          <button class="glow right" style="display: inline-block;height: 34px;border-left-width: -1px;">OK</button>

        </div>
      </div>


  </div>



</div>
