<!-- DUMMY -->
<div class="col-lg-5 adm-comm">
  <div style="display:block"><%= t( :problem_comment ) %></div>
  <div class="adm-controls">
    <table>
      <tr>
          <td>
            <input class="form-control" type="text" value="Комментарий админа" style="display: inline-block; width: 400px;">
          </td>
          <td>
            <input type="button" class="btn-glow primary" value="OK" style="display: inline-block;">
          </td>
      </tr>
    </table>
  </div>
</div>
