<% if object.status_id == 0 %>
  <span class="label label-info" style="font-size:11px;"><%= t(:problem_new) %></span>
<% elsif object.status_id == 1 %>
  <span class="label label-success" style="font-size:11px;"><%= t(:problem_completed) %></span>
<% elsif object.status_id == 2 %>
  <span class="label label-danger" style="font-size:11px;"><%= t(:problem_aborted) %></span>
<% elsif object.status_id == 3 %>
  <span class="label label-warning" style="font-size:11px;"><%= t(:problem_waiting) %></span>
<% end %>
