// @import "bootstrap";

.field_with_errors {
  box-shadow: 0 0 10px rgba(185, 74, 72, 0.7);
}

// NAVBAR
.navbar {
  li {
    span {
      font-size: 12px;
      vertical-align: middle;
    }
  }
}

@media (max-width: 1024px) {
  .flash-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 5px
  }
}

@media (min-width: 1024px) {
  .flash-container {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 5px
  }
}
