// @import "bootstrap";

h6 {
    font-family  : 'Open Sans', sans-serif;
    font-size    : 16px;
    font-weight  : 600;
    margin-bottom: 10px;
    margin-top   : 10px;
  }

.problem-add {
  margin-bottom: 20px;

  p {
    // color: #777e86;
    color      : #526273;
    display    : inline;
    font-family: 'Open Sans', sans-serif;
    font-size  : 12px;
    left       : 7px;
    margin     : 0 0 10px;
    position   : relative;
    top        : 5px;
  }

  textarea {
    background   : #fff;
    border-color : #dee3ea;
    border-radius: 5px;
    font-size    : 13px;
    height       : 100px;
    margin-bottom: 0px;
    padding      : 5px 7px 5px 7px;
    width        : 100%;
  }
  select {
    border-radius: 5px;
    display      : inline-block;
    font-weight  : 500;
    margin-bottom: 10px;
    width        : 49.5%;
  }
  .btn-glow.primary {
    margin-top: 15px;
  }
}

select {
  -webkit-appearance: none;
}

.field_with_errors {
  // border: 1px solid #c73939;
  // box-shadow: 0 0 1px rgba(185, 74, 72, 0.7);

  border-radius: 4px;
  box-shadow   : 0px 0px 0px 1px #c73939;
}

// NAVBAR
.navbar {
  li {
    span {
      font-size     : 20px;
      font-weight   : 900;
      vertical-align: middle;
    }
  }
}
.navbar-brand {
  color: #DDDDDD !important;
  span {
    font-size     : 12px;
    font-style    : italic;
    text-transform: lowercase;
    vertical-align: sub;
  }
}

.table {
  td {
    .name {
      color      : #3389d1;
      // display    : block;
      font-size  : 14px;
      font-weight: 600;
      margin     : 15px 0 0 0;
      // width      : 100%;
      word-wrap  : break-word;
    }
    .login {
      color      : #526273;
      display    : block;
      font-size  : 12px;
      // font-weight: 600;
      margin     : 15px 0 0 0;
      // width      : 100%;
      word-wrap  : break-word;
    }
    .comment {
      color      : #778391;
      display    : block;
      font-size  : 12px;
      font-style : italic;
      margin-left: 0px;
      margin-top : 0;
    }
    .comment-author {
      color: #917777;
    }
  }
}

// FLASH

@media (max-width: 1024px) {
  .flash-container {
    margin-bottom: 5px;
    margin-left  : 50px;
    margin-right : 50px;
    margin-top   : 20px;
  }
}

@media (min-width: 1024px) {
  .flash-container {
    margin-bottom: 5px;
    margin-left  : 50px;
    margin-right : 50px;
    margin-top   : 20px;
  }
}

// COUNTDOWN

.countdown {
  // display: inline;
  background-color: #DEE3EA;
  border-radius   : 0px 0px 4px 4px;
  color           : #526273;
  padding         : 2px 7px 2px 7px;
  text-align      : center;
  width           : 100px;
}

//BORDERS

.b-right {
  border-right: 1px solid #edeef1;
  box-shadow  : 4px 0px 3px -1px rgba(226, 226, 226, 0.1);
}

//count bubble
.count {
  background   : #35bac4;
  border-radius: 30px;
  color        : #fff;
  font-size    : 11px;
  left         : 53%;
  line-height  : 16px;
  padding      : 0px 5px;
  position     : absolute;
  text-align   : center;
  top          : 1px;
  z-index      : 9999;
}


//                                     dP
//                                     88
// 88d888b. .d8888b. 88d888b. .d8888b. 88 .d8888b.
// 88'  `88 88'  `88 88'  `88 88ooood8 88 Y8ooooo.
// 88.  .88 88.  .88 88    88 88.  ... 88       88
// 88Y888P' `88888P8 dP    dP `88888P' dP `88888P'
// 88
// dP

.panel-group {
  margin-bottom: 10px;
}

.panel-default {
  border: 1px solid #cfdde8;
  // border-color: #d0dde9;
  color: #737f8d;
  .panel-heading {
    background-color: #f2f5f9;
  }
}

.panel-title {
  .type {
    color          : #29323d;
    font-size      : 16px;
    font-style     : normal;
    text-align     : left;
    i {
      color: #95a8b7;
      padding-right: 15px;
    }
    span {
      color:#428bca;
      font-weight: 900;
    }
  }
  .sender {
    font-size      : 14px;
    font-style     : normal;
    font-weight    : 600;
    text-align     : left;
    a {
      font-weight    : 600;
    }
  }
  .date {
    text-align: center;
    color     : #778391;
    font-size : 13px;
  }
  .status {
    text-align: center;
    i {
      color    : #95a8b7;
      font-size: 20px;
      cursor   : pointer;
    }
    .buttons {
        position: absolute !important;
        right   : 15px !important;
    }
  }
}
.panel-body {
  .problem-message {
    color: #516372;
    font-size: 14px;
  }

  .admin-controls {
    margin-top:10px;
    .alert {
      margin-bottom:0px;
    }
    .btn-group {
      width:101%;
      .admin-commentary {
        border-radius: 5px 0px 0px 5px;
        display      : inline-block;
        float        : left;
        width        : 70%;
      }
      .admin-type {
        -webkit-appearance: none;
        border-radius     : 0px;
        display           : inline-block;
        float             : left;height: 34px;
        font-weight       : 500;
        width             : 20%;
      }
      .admin-button {
        width            : 9%;
        display          : inline-block;
        height           : 34px;
        border-left-width: -1px;
      }
    }
  }
}

// tooltip
.tooltip {
  .tooltip-inner {
    // box-shadow   : 0px 0px 9px 0px #d6d6d6;
    background-color: #fff;
    border-radius   : 5px;
    border          : 1px solid #cccccc;
    color           : #778391;
    font-size       : 13px;
    font-style      : italic;
    font-weight     : 600;

  }
}
  .tooltip.top .tooltip-arrow {
    border-top-color: #cccccc;
  }


// header
#pad-wrapper {
  .row .header {
      background   : none;
      box-shadow   : none;
      display      : block;
      height       : 34px;
      margin-bottom: 20px;
      padding      : 0px;
  }
}


// error_explanation
#error_explanation {
  div {
    ul {
      padding-left: 52px;
      text-align  : left;
    }
  }
}

