/ upper main stats
#main-stats
  .row.stats-row
    .col-md-3.col-sm-3.stat
      .data
        %span.number Lorem
        ipsum
      %span.date Dolor
    .col-md-3.col-sm-3.stat
      .data
        %span.number 3240
        users
      %span.date February 2013
    .col-md-3.col-sm-3.stat
      .data
        %span.number 322
        orders
      %span.date This week
    .col-md-3.col-sm-3.stat.last
      .data
        %span.number $2,340
        sales
      %span.date last 30 days
/ end upper main stats
